*{ box-sizing: border-box; padding: 0; margin: 0; }

body {
    text-align: center;
    background: rgb(193,0,138);
    background: radial-gradient(circle, 
    rgba(193,0,138,1) 40%,rgba(4,200,232,1) 70%, rgba(55,136,232,1) 90%);
    height: inherit;
}
.container{
    border: solid;;
    display:flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;    
}

.calculator{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid; 
    background-color: aquamarine;
    border:solid;  
    min-height: 25vh;
    min-width: 300px;
}

.screen{
    display:flex;
    border: 1px solid;
    background-color: whitesmoke;
    padding: 5px;
    justify-content: right;
    align-items: end;
    width: 100%;
    min-height: 70px;
}

.calc-button-row{
    background-color: rgb(6, 190, 83);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    justify-content:space-around;
}

.calc-buttons{
    font-size: 40px;
    width: 100%;
}

.calc-buttons :hover {
    background-color: black;
    color: aliceblue;
}

.calc-button{
    width: 25%;
    cursor: pointer;
}

.calc-button-c{
    width: 50%;
    cursor: pointer;
}

.calc-button-0{
    width: 50%;
    cursor: pointer;
}