* { box-sizing: border-box; padding: 0; margin: 0; }

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( 140deg, aquamarine, blue, rgb(199, 3, 199) )}
